{{#section 'title'}}My Link{{/section}}
<div class="w-screen min-h-full h-full bg-[#e6ccb2]">
  <div id="divMainContainer" class="container h-full mx-auto flex flex-col items-center justify-center overflow-auto">
    <h1 class="text-5xl font-bold">Hai Hau</h1>
    <h2 class="text-2xl">Make better links</h2>
    
    <div class="relative mt-4 w-4/5 max-w-xl">
      <i class="fa-solid fa-link absolute top-1/2 -translate-y-1/2 ml-2"></i>
      <input id="txtOriginalLink" class="block w-full outline-offset-4 outline-4 rounded-lg p-3 pl-8" placeholder="Your original link (*)" name="originalUrl" type="text"/>
    </div>
    <div class="relative mt-3 w-4/5 max-w-xl">
      <i class="fa-solid fa-hand-holding-heart absolute top-1/2 -translate-y-1/2 ml-2"></i>
      <input id="txtCustomAlias" class="block w-full outline-offset-4 outline-4 rounded-lg p-3 pl-8" placeholder="Custom alias (optional)" name="customAlias" type="text"/>
    </div>
    <button id="btnMakeLink" class="text-lg mt-4 block bg-[#7f5539] hover:bg-[#b08968] font-bold text-white p-3 rounded">
      <i id="iconLoading" class="fa-solid fa-gear animate-spin mr-3 !hidden"></i>Make Link
    </button>
  </div>
</div>

{{#section 'css'}}
<style>
  html, body {
    width:100%;
    height:100%;
  }
</style>
{{/section}}

{{#section 'js'}}
<script src="/js/pages/home.js" type="text/javascript"></script>
<script src="/js/libs/qrcode.min.js" type="text/javascript"></script>
{{/section}}